@import '~styles/variables.scss';

.forum {
  display: flex;
  color: $white;
  justify-content: center;
  height: 100vh;
  @include media(mobile) {
    display: block;
  }
  &_item {
    width: 50%;
    @include media(mobile) {
      width: 100%;
    }
  }
}
