@import '../../styles/variables.scss';

.wrapper {
  margin: 16px 0;
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  border: none;
  border-bottom: 1px solid $black;
  outline: none !important;
  transition: $ease;
  font-size: 13px;
  line-height: 13px;

  &::placeholder {
    color: transparent;
  }
  &:focus ~ .label,
  &:not(:placeholder-shown) ~ .label {
    transform: translateY(-16px) scale(0.7);
    color: $purple;
  }

  &IsFilled,
  &:focus {
    border-bottom-color: $purple;
  }
  &HasError {
    border-bottom-color: $red;
    color: $red;
  }
}

.label {
  color: $text-color-grey;
  font-size: 13px;
  line-height: 13px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  left: 0;
  top: 0;
}

.errorText {
  color: $red;
}
