@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');

html,
body,
main {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 1px;
  width: 100%;
  font-family: $inter;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: $blue;

  &:hover {
    text-decoration: underline;
  }
}

input,
button {
  font-family: $inter;
  outline: none !important;
  color: $black;
}

button {
  cursor: pointer;
}
