// colors
$white: #fff;
$black: #000;
$blue: #1a4fe9;
$green: #bab74b;
$yellow: #fee74b;
$purple: #b575bc;
$red: #ec5435;
$pink: #f8ecf2;

// fonts
$inter: 'Inter', serif;

// animations
$ease: all 0.4s;

// integrations
$text-color: lighten($black, 20%);
$text-color-grey: lighten($black, 50%);
$border-color: lighten($black, 80%);
$light-grey: lighten($black, 95%);

// components
@mixin block {
  .block {
    margin: auto;
    width: 100%;
    max-width: 340px;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    background: $white;
    box-shadow: 0 0 6px lighten($black, 70%);
    border-radius: 12px;
    padding: 50px 30px 30px;
  }

  .title {
    display: block;
    font-size: 20px;
    margin: 0 auto 40px;
  }

  .controls {
    padding-top: 50px;
    margin-top: auto;
  }
}
