@import '~styles/variables.scss';

.container {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to top, rgba(95, 95, 95, 0.6), rgba(0, 12, 119, 0.7)),
    url(../../assets/images/motypest2-min.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: $green;
  h2 {
    font-family: $comic;
    font-size: 65px;
    line-height: 60px;
    font-weight: normal;
    margin-bottom: 0px;
    margin-top: 40px;
    text-align: center;
    text-shadow: 0 1px 1px $pink;
  }
  h3 {
    font-family: $comic;
    font-size: 25px;
    line-height: 20px;
    font-weight: lighter;
    span {
      font-family: $vibes;
    }
  }
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 70%;
  border: 3px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 0 40px;
}
