@import '../../styles/variables.scss';

$container-width: 860px;

.wrapper {
  margin: auto;
  width: $container-width;
  max-width: 100%;
  min-height: 100%;
  padding: 50px 0;
  @include centered;
}

.content {
  text-align: center;
  width: 100%;
  color: $darkPurple02;
  img {
    max-width: 100%;
  }
}

.controls {
  margin-top: 40px;
  a{
    text-decoration: none !important;
  }
}

h2 {
  font-family: $comic;
  font-size: 25px;
  line-height: 20px;
  font-weight: lighter;
  span {
    font-family: $vibes;
  }
}

h4 {
  font-family: $comic;
  font-size: 18px;
}

.arrowKeys {
  margin-top: 20px;
  img {
    // margin: 10px 10px -18px;
    display: inline-block;
    margin: 10px 0 -20px;
  }
  span {
    width: 80px;
    display: inline-block;
  }
}
