@import '../../styles/variables.scss';

.login {
  margin: auto;
  width: 100%;
  max-width: 340px;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  background: $white;
  box-shadow: 0 0 6px lighten($black, 70%);
  border-radius: 12px;
  padding: 50px 30px 30px;
}

.title {
  display: block;
  font-size: 20px;
  margin: 0 auto 40px;
}

.controls {
  padding-top: 50px;
  margin-top: auto;
}

.oAuth {
  margin-bottom: 20px;
}
