.container {
  display: flex;
  flex-direction: column;
}

.create {
  display: flex;
  flex-direction: column;
  margin: 16px;
}

.empty {
  margin: 0 auto;
  text-align: center;
  padding: 24px 16px 16px 16px;
}