@import '~styles/variables.scss';

.topics {
  display: flex;
  flex-direction: column;
  background-color: $darkPurple01;
  height: 100vh;
  &_content {
    overflow: auto;
  }
}

.create {
  display: flex;
  flex-direction: column;
  margin: 16px;
}

.empty {
  margin: 0 auto;
  text-align: center;
  padding: 24px 16px 16px 16px;
}